.tab-pane .tab-header-background {
	-fx-background-image: null;
}

.tab-pane .tab-content-area {
}

.label {
	-fx-font-color: white;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(255.0,255.0,255.0,0.5) , 0.0,0.0,0.0,1.0 );
}

.tool-bar {
    -fx-background-color: linear-gradient(#98a8bd 0.0%, #8195af 25.0%, #6d86a4 100.0%);
}

.tool-bar .button {
	-fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0.0%, #3e5577 20.0%, #375074 100.0%),
        linear-gradient(#768aa5 0.0%, #849cbb 5.0%, #5877a2 50.0%, #486a9a 51.0%, #4a6c9b 100.0%);
    -fx-background-insets: 0.0 0.0 -1.0 0.0,0.0,1.0;
    -fx-background-radius: 5.0,5.0,4.0;
    -fx-padding: 7.0 30.0 7.0 30.0;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
}

.table-view {
}

.table-view .button {
}

.table-view .column-header-background {
}

.table-view .column-header, .table-view .filler {
}

.table-view .column-header .label {
}

.table-view:focused .table-row-cell:filled:focused:selected {
}

.table-view .table-row-cell {
}

.table-view .table-row-cell:hover {
	-fx-background-color: skyblue;
}
