* {
	-fx-police: "Arial Narrow";
	
	-fx-base-color: gray;
	-fx-secondary-color: ghostwhite;
	-fx-tird-color: white;
	
	-fx-linear-gradient-1: lightgray;
	-fx-linear-gradient-2: gray;
	-fx-linear-gradient-3: darkgray;
}

.button {
	-fx-border-width: 0.0px;
}

.button:hover {
	-fx-effect: dropshadow( three-pass-box , lightgray  , 2.0, 1.0, 0.0, 0.0 );
}

.button:pressed {
	-fx-background-color: -fx-secondary-color;
	-fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );
}

.tab-pane .tab-header-background {
}

.tab-pane .tab-content-area {
	-fx-background-color: -fx-secondary-color;
}

.link {
	-fx-font-family: "Helvetica";
	-fx-font-size: 12.0px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.link:hover {
	-fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );
}

.label {
	-fx-font-color: black;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(255.0,255.0,255.0,0.5) , 0.0,0.0,0.0,1.0 );
}

.text-field {
	-fx-font-color: black;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-color: -fx-tird-color;
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.5) , 0.0,0.0,0.0,1.0 );
}

.text-field:hover {
	-fx-background-color: -fx-secondary-color;
}

.text-field:focused {
	-fx-background-color: -fx-secondary-color;
}

.label-text-field {
	-fx-font-color: black;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(255.0,255.0,255.0,0.5) , 0.0,0.0,0.0,1.0 );
	-fx-background-color: transparent;
}

.label-text-field:hover {
	-fx-background-color: -fx-tird-color;
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.5) , 0.0,0.0,0.0,1.0 );
}

.label-text-field:focused {
    -fx-background-color: -fx-tird-color;
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.5) , 0.0,0.0,0.0,1.0 );
	-fx-border-width: 10.0px;
}

.tool-bar {
    -fx-background-color:
    	gray,
    	linear-gradient(lightgray 0.0%, gray 50.0%, darkgray 100.0%),
    	linear-gradient(lightgray 0.0%, gray 50.0%, darkgray 100.0%);
}

.tool-bar .button {
	-fx-border-width: 0.0px;
	-fx-background-color: null;
}

.tool-bar .button:hover {
	-fx-effect: dropshadow( three-pass-box , lightgray  , 2.0, 1.0, 0.0, 0.0 );
}

.tool-bar .button:pressed {
	-fx-background-color: lightgray;
	-fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );
	-fx-background-radius: 60.0px;
}

.table-view .button {
	-fx-background-color: 
        gray,
        linear-gradient(lightgray 0.0%, gray 20.0%, darkgray 100.0%),
        linear-gradient(lightgray 0.0%, gray 20.0%, darkgray 100.0%);
    -fx-background-insets: 0.0 0.0 -1.0 0.0,0.0,1.0;
    -fx-background-radius: 5.0,5.0,4.0;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
}

.table-view .link {
}

.table-view .column-header-background {
}

.table-view .column-header, .table-view .filler {
    -fx-background-insets: 0.0 0.0 -1.0 0.0,0.0,1.0;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
}

.table-view .column-header .label {
    -fx-text-fill: black;
}

.table-view:focused .table-row-cell:filled:focused:selected {
	-fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 )
}

.table-view .table-row-cell {
}

.table-view .table-row-cell:hover {
	-fx-background-color: skyblue;
}

#module {
	    -fx-background-color: 
        lightgray,
        linear-gradient(gray 0.0%, gray 20.0%, lightgray 100.0%);
    -fx-background-radius: 5.0;
    -fx-padding: 10.0;
    -fx-hgap: 10.0;
    -fx-vgap: 10.0;
}

#module .text-field {
    -fx-background-color: 
        black,
        linear-gradient(#303842 0.0%, #3e5577 20.0%, #375074 100.0%),
        linear-gradient(#768aa5 0.0%, #849cbb 5.0%, #5877a2 50.0%, #486a9a 51.0%, #4a6c9b 100.0%);
    -fx-text-fill: white;
    -fx-background-radius: 0.0;
    -fx-font-weight: bold;
}

#module .text-area {
	-fx-background-color: null;
}

#module .text-area .content {
	-fx-background-color: transparent;
	-fx-padding: 10.0;
	-fx-spacing: 8.0;
}


#module #invoice-button {
	-fx-graphic: url("invoice-icon.png");
}

#module #product-button {
	-fx-graphic: url("product/icon.png");
}

#module #contact-button {
	-fx-graphic: url("contact-icon.png");
}

#module #salesman-button {
	-fx-graphic: url("salesman/icon.png");
}

#module #customer-button {
	-fx-graphic: url("customer-icon.png");
}

#module #supplier-button {
	-fx-graphic: url("supplier-icon.png");
}

#save-button {
	-fx-graphic: url("save-icon.png");
}

#delete-button {
	-fx-graphic: url("delete-icon.png");
}

#print-button {
	-fx-graphic: url("print-icon.png");
}

#valid-button {
	-fx-graphic: url("valid-icon.png");
}

#reports-button {
	-fx-graphic: url("reports-icon.png");
}

#search-button {
	-fx-graphic: url("search-icon.png");
	-fx-border-width: 0.0px;
	-fx-background-color: null;
}

#add-packaging {
	-fx-graphic: url("product/add-packaging.png");
	-fx-border-width: 0.0px;
	-fx-background-color: null;
}

#remove-packaging {
	-fx-graphic: url("product/remove-packaging.png");
	-fx-border-width: 0.0px;
	-fx-background-color: null;
}
