<?xml version="1.0" encoding="UTF-8" standalone="yes"?><Configuration><homeUrl>http://192.168.10.51:8080/maohifx.server/index.fxml</homeUrl><historyUrl><url>http://192.168.10.51:8080/maohifx.server/index.fxml</url><url>http://192.168.10.51:8080/maohifx.server/contacts</url></historyUrl><authenticationServer>http://localhost:8080/</authenticationServer></Configuration>