<?xml version="1.0" encoding="UTF-8" standalone="yes"?><Configuration><homeUrl>http://192.168.10.51:8080/maohifx.server/index.fxml</homeUrl><historyUrl><url>http://192.168.10.51:8080/maohifx.server/index.fxml</url><url>http://192.168.10.51:8080/maohifx.server/contacts/index.fxml</url><url>http://192.168.10.51:8080/maohifx.server/webapi/contact?uuid=b05500ca-8d25-4a6b-9222-f9b0e4ec3f64</url><url>http://192.168.10.51:8080/maohifx.server/contact/index.fxml</url><url>http://192.168.10.51:8080/maohifx.server/invoices/index.fxml</url><url>http://192.168.10.51:8080/maohifx.server/invoice/index.fxml</url><url>http://192.168.10.51:8080/maohifx.server/contacts</url></historyUrl></Configuration>