.tab-pane .tab-header-background {
	-fx-background-image: url("background.jpg");
}

.tab-pane .tab-content-area {
	-fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0.0%, #3e5577 20.0%, #375074 100.0%),
        linear-gradient(#768aa5 0.0%, #849cbb 5.0%, #5877a2 50.0%, #486a9a 51.0%, #4a6c9b 100.0%);

}

.extended-tab{
	-fx-background-color: gray;
}

.extended-tab .tab-label { 
    -fx-text-fill: white;
    -fx-font-size: 14.0px;
    -fx-font-family: "Arial Narrow";
}

.extended-tab:selected{
	-fx-background-color: white;
}

.extended-tab:selected .tab-label{
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-background-image: url("background.jpg");
}

.button:pressed {
	-fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 )
}

#urlPane {
	-fx-background-color: white;
	-fx-padding: 5.0;
	-fx-spacing: 5.0;
	-fx-background-image: url("background.jpg");
}

#home {
	-fx-graphic: url("home.png");
	-fx-border-width: 0.0px;
	-fx-background-color: white;
	-fx-background-radius: 20.0px;
}

#refresh {
	-fx-graphic: url("refresh.png");
	-fx-border-width: 0.0px;
	-fx-background-radius: 20.0px;
	-fx-background-color: white;
}

#url {
	-fx-font-family: "Arial Narrow";
	-fx-font-size: 16.0px;
	-fx-background-color: white;
	-fx-background-radius: 20.0px;
	-fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 )
}

