#mainPane {
	-fx-content-display: top;
	-fx-border-color: black;
	-fx-border-width: 2.0;
}

.vbox {
	-fx-background-color: gray;
	-fx-padding: 5.0;
	-fx-spacing: 5.0;
}

.extended-tab:selected{
	-fx-background-color: gray;
}

.extended-tab{
	-fx-background-color: white;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}